/*
 * Estilos de tu proyecto
 */

 /*Seteando todo el documento*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-align: center;
}
/* Clases Reutilizables */

.to-upper-case {
  text-transform: uppercase;
}
.remove-underline{
  text-decoration: none;
  color: inherit;
}
/* Asignando un ancho al cuerpo*/
body{
  width: 100%;
}
/*Añadiendo estilos al header*/
header {
  position: fixed;
  width: 100%;
  z-index:1000;
  background:rgb(44,62,80);
  /*Height of header*/
  padding:10px;
  color:rgb(255, 255, 255);
  font-weight:800;
  font-family: 'Lato', sans-serif;
}
.title-header {
 margin-left:-60%;
  font-size:30px;
  display: inline-block;
  transform: translateY(50%);
}
/* Añadiendo estilos navigation-bar*/
.nav-menu{
  transform: translateY(-50%);
  padding-right: 100px;
  margin-right: -65%;
}
.nav-options {
  display: inline-block;
  padding:15px;
  background:rgb(44,62,80);
}
/*Añadiendo efecto hover a las opciones de la barra de navegación*/
.nav-menu a:hover {
  color:rgb(24,188,156);
}
.nav-menu a:active {
  color: rgb(255, 255, 255);
}

/*Añadiendo estilos a la primera sección*/
#start-section{
  width: 100%;
  padding-top: 180px;
  padding-bottom: 50px;
  background-color: rgb(24,188,156);
  color: rgb(255, 255, 255);
}
/* Añadiendo estilos a la etiqueta hr */
.divider {
  margin: auto;
	width:280px;
	text-align:center;
}
.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
  margin-top: 5%;
}
.left {
	float:left;
  height: 8px;
  background:rgb(44,62,80);
}
.right {
	float:right;
  height: 8px;
  background:rgb(44,62,80);
}
.white-divider {
  background: rgb(255, 255, 255);
}
.main-title {
  font-size: 75px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
}
#start-section p {
  font-size: 28px;
  font-weight: 250;
  font-family:'Montserrat', sans-serif;
  padding: 40px;
}

/*Añadiendo estilos a la segunda sección*/
#portfolio-section{
  width: 100%;
}
#image-container{
  display: inline-block;
  column-count: 3;
  column-gap: 30px;
  padding: 30px;
}

.portfolio-images{
  width: 350px;
  height: 300px;
}
.portfolio-images:hover{

}
.mascara {
  width: 350px;
  height: 300px;
  position: absolute;
  padding: 120px;
  opacity: 0.7;
  background-color:none;
}
.mascara i {
  opacity: 0;
  margin-left: -80%;
  margin-top: -100%;
  padding: 100%;
  color: rgb(255, 255, 255);
}
.mascara i:hover{
  opacity: 1;
}
.re-positioning{
  left:9%;
  margin-top: -45%;
}
.mascara:hover {
  background:rgb(24,188,156);
  transition: all 0.3s ease-in-out;
}
/*Estilos del overlay*/

.overlay{
  display: none;
  opacity: 0;
}
.overlay:target {
  opacity: 1;
  display: block;
  position: fixed;
  z-index: 1001;
  background:rgb(255,255,255);
  top:0px;
  left: 25%;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-family:'Lato', sans-serif;

}
.overlay h2{
  margin: 0px 15px;
  margin-top:-8%;
}
.img-overlay{
  margin: auto;
  width:60%;
  height:40%;
}
.img-overlay p {
  padding: 15px;
}
.overlay a {
  font-size: 45px;
  float: right;
}
.overlay img {
  padding: 15px;
  width:400px;
  height: 60%;
  box-sizing: border-box;
}
#close{
  float: left;
  padding: 10px;
  background-color:rgb(24,188,156);
  margin-top: -50%;
  margin-left: 1%;
  border-style: none;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-style:outset;
}
#portfolio-section h2{
  padding: 80px 0px 10px 0px;
  font-size: 55px;
  font-weight: 800;
  font-family:'Lato', sans-serif;
}

/*Añadiendo estilos a la tercera sección*/
#about-section{
  width: 100%;
  padding: 100px;
  background-color:rgb(24,188,156);
  color: rgb(255, 255, 255);
  font-family:'Montserrat', sans-serif;
}
#about-section h2{
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}
#about-section p {
  display: inline-block;
  padding:70px 20px;
  line-height: 28px;
  text-align: justify;
  font-size: 18px;

}
#about-section button {
  display: block;
  margin: auto;
  padding: 12px 12px;
  font-size: 20px;
  font-family: inherit;
  background-color: inherit;
  border-radius: 5px;
  border-style:solid;
  border-color: rgb(255, 255, 255);
  color: inherit;
}

#about-section button:hover {
  background-color: rgb(255, 255, 255);
  color:rgb(24,188,156);
  transition: 0.5s;
}

/* Añadiendo estilos a la cuarta sección */

#contact-section {
  width: 100%;
  padding: 50px 0px 100px 0px;
  text-align: left;

}
#contact-section h2 {
  padding: 10px;
  font-size: 48px;
  font-weight: 800;
  font-family:'Lato', sans-serif;
}
#contact-section input {
  display: block;
  width: 70%;
  text-align: left;
  padding: 10px 30px;
  margin: 30px;
  border-style: none;
  border-bottom: 1px solid #eee;
  font-size: 25px;
}
/*Eliminando el borde azul por default del input*/
#contact-section input:focus{
	outline:0px;
}

#form {
  padding: 70px 0px 120px 250px;
  text-align: left;
}

#contact-section button {
  padding: 8px 15px;
  background-color:rgb(24,188,156);
  color: rgb(255, 255, 255);
  font-family:'Lato', sans-serif; ;
  font-size: 25px;
  margin-left: 23%;
  border-radius: 10px;
  border-style: none;
}
  #contact-section button:active{
    border-radius: 10px;
    border-color: rgba(82, 172, 33, 0.81);
    background-color: rgb(38, 130, 19);
  }
/* Añadiendo estilos al pie de pagina*/
footer {
  width: 100%;
  background-color: rgb(44,62,80);
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  font-family:'Lato', sans-serif;
  padding-left: 50px;
  padding-right: 50px;

}
.footer-boxes{
  display: inline-block;
  width: 33%;
  padding: 30px 30px 70px 30px;
  vertical-align: text-top;

}
footer h2{
  padding: 25px 25px 50px 25px;
}

.footer-icons span {
  padding: 15px;
  margin:2px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
}
.fa-facebook, .fa-dribbble, .fa-linkedin, .fa-twitter {
  padding: 5px;
}


/* Añadiendo efecto hover a los iconos del footer*/
.footer-icons span:hover {
  background: rgb(255, 255, 255);
  color: rgb(24,188,156);
  transition: 0.5s;
}

footer .change-color {
color:rgb(24,188,156);
}
.copyright {
  font-size: 17px;
  padding: 20px;
}
